@use "uswds-core" as *;

.vha-button {
    &.usa-button--outline.usa-button--inverse {
        box-shadow: inset 0 0 0 2px #{color("base-lightest")};
        color: #{color("base-lightest")};
    }
}
.vha-button--primary {
    // background-color: #{color("green-vivid-30v")};
    background-color: #7fb135
}

.vha-button--primary:hover {
    // background-color: #{color("green-vivid-40v")};
    background-color: #719f2a;
}