<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="VHA Innovators Network (iNET) is a bustling community of employees united by a desire to solve healthcare problems and engage in shared learning.">
  <meta name="keywords" content="Innovation, Specialist, Healthcare, Incubator, Spark-Seed-Spread">
  <title>VHA - Innovators Network</title>

  <meta property="og:title" content="VHA - Innovators Network">
  <meta property="og:url" content="https://www.innovation.va.gov/ecosystem/views/innovators-network/">
  <meta property="og:description" content="VHA Innovators Network (iNET) is a bustling community of employees united by a desire to solve healthcare problems and engage in shared learning.">
  <meta property="og:type" content="website">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="assets/uswds/js/uswds-init.min.js"></script>
</head>

<body>

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
      {% include "header.html" %}
      
        <main>
          {% include "home/masthead.html" %}
          {% include "home/our-mission.html" %}
          {% include "home/sss-greenhouse-fundamentals.html" %}
          {% include "home/inet-video.html" %}
          {% include "home/inet-sites.html" %}
          {% include "home/product-marketplace.html" %}
          {% include "home/innovators-report.html" %}
          {% include "home/innovators-spotlight.html" %}
          {% include "home/innovators-playbook.html" %}
          {% include "home/news-and-events.html" %}

        </main>

        {% include "footer.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="assets/uswds/js/uswds.min.js"></script>
    <script src="assets/js/vendors/lazy/jquery.lazy.min.js"></script>
    <script src="assets/js/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/functions.js"></script>

</body>

</html>