@use "uswds-core" as *;
@use "../../../variables" as *;

.masthead {
    background: linear-gradient(235deg, $vha-theme-color-primary-dark, $vha-theme-color-primary, $vha-theme-color-primary-dark);
    background-size: 600% 600%;
    position: relative;
    
    -webkit-animation: GradientRotation 40s ease infinite;
    -moz-animation: GradientRotation 40s ease infinite;
    animation: GradientRotation 40s ease infinite;

    height: 81vw;
    margin-bottom: 16%;

    @include at-media(mobile) {
        // padding-top: 78%;
        height: 81vw;
        margin-bottom: 16%;
    }

    @include at-media(mobile-lg) {
        // padding-top: 78%;
        height: 75vw;
        margin-bottom: 16%;
    }

    @include at-media(tablet) {
        // padding-top: 70%;
        height: 75vw;
        margin-bottom: 14%;
    }

    @include at-media(tablet-lg) {
        // padding-top: 59%;
        height: 60vw;
        margin-bottom: 10%;
    }

    @include at-media(desktop) {
        // padding-top: 55%;
        height: 56vw;
        margin-bottom: 9%;
    }    

    @include at-media(desktop-lg) {
        // padding-top: 54%;
        height: 54vw;
        margin-bottom: 8%;
    }

    @include at-media(widescreen) {
        height: 730px;
        padding-top: 0;
        margin-bottom: 120px;
    }

    &__content-wrapper {
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        padding-top: 48px;
        z-index: 10;
    }

    &__logo {
        margin-bottom: 1.5rem;

        img {
            height: 78px;
            
            @include at-media(tablet) {
                height: 114px;
            }
            
        }

    }

    &__tagline {
        font-size: 1.375em;
        margin-bottom: 48px;
        color: #fff;
    }

    &__border {
        position: absolute;
        bottom: 0;
        left: 0; 
        width: 100%;
        z-index: 1;
        background-color: $vha-theme-color-primary;
        height: 14px;
        justify-content: end;
        display: flex;

        .block {
            position: relative;
            width: 80px;
            height: 14px;
            transform: skew(-40deg, 0deg);

            &-color-1 {
                background-color: $vha-theme-color-primary-light;
            }

            &-color-2 {
                background-color: $vha-theme-color-primary-dark;
                width: 7%;
            }

        }

    }    

    &__angles-wrapper {
        display: flex;
        justify-content: center;
        align-self: stretch;
        
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__angles {
        width: 100%;
        height: 100%;
        position: relative;
        top: -0;
        left: 0;

        > div {
            mix-blend-mode: color-burn;
            display: inline-block;
            position: absolute;
            height: 100%;
            width: auto;
            top: 0;
            left: 0;

            > svg {
                height: auto;
            }

        }
        
        .angle-1 {
            margin-left: -350px;
            -webkit-animation: AngleScroll 40s ease-in-out 0s infinite;
            -moz-animation: AngleScroll 40s ease-in-out 0s infinite;
            animation: AngleScroll 40s ease-in-out 0s infinite;
        }

        .angle-2 {
            margin-left: -150px;
            -webkit-animation: AngleScroll 60s ease-in-out 0s infinite;
            -moz-animation: AngleScroll 60s ease-in-out 0s infinite;
            animation: AngleScroll 60s ease-in-out 0s infinite;

        }

        .angle-3 {
            margin-left: 250px;
            -webkit-animation: AngleScroll 50s ease-in-out 0s infinite;
            -moz-animation: AngleScroll 50s ease-in-out 0s infinite;
            animation: AngleScroll 50s ease-in-out 0s infinite;
        }        

    }

}

@-webkit-keyframes GradientRotation {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-moz-keyframes GradientRotation {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@keyframes GradientRotation {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}

@-webkit-keyframes AngleScroll {
    0%{left:0%;}
    50%{left: 25%;}
    100%{left: 0%;}    
}
@-moz-keyframes AngleScroll {
    0%{left:0%;}
    50%{left: 25%;}
    100%{left: 0%;}    
}
@keyframes AngleScroll {
    0%{left:0%;}
    50%{left: 25%;}
    100%{left: 0%;}    
}

#masthead {
    z-index: 1 !important;
    position: relative;
}

#application {
    z-index: 0 !important;
    position: relative;
}