@use "uswds-core" as *;

$vha-theme-color-primary-lightest: color("violet-warm-5"); // #f8f0f9
$vha-theme-color-primary-light: color("magenta-30"); // #e895b3
$vha-theme-color-primary: color("magenta-40v"); // #fd4496
$vha-theme-color-primary-dark: color("violet-warm-60v"); // #93348c

$vha-theme-color-pink-lightest: #F9D8EA;
$vha-theme-color-violet-lightest: #F8F0F9;