<section id="site-location-map" class="site-location-map map-gradient margin-y-15 padding-y-15 bg-gradient-primary position-relative">
    <div class="grid-container">
        <div class="grid-row grid-gap flex-align-center">
            <div class="tablet:grid-offset-1 tablet:grid-col-10 desktop:grid-offset-1 desktop:grid-col-10">
                <h2 class="margin-top-0 text-center text-white">Our National Centers</h2>
                <div id="mapsvg"></div>
            </div>
        </div>
    </div>
</section>

<link href="assets/css/map-svg/mapsvg.css" rel="stylesheet">
<link href="assets/css/map-svg/nanoscroller.css" rel="stylesheet">
<script src="assets/js/vendors/map-svg/jquery.mousewheel.min.js"></script>
<script src="assets/js/vendors/map-svg/jquery.nanoscroller.min.js"></script>
<script src="assets/js/vendors/map-svg/mapsvg.min.js"></script>
<script src="assets/js/vendors/map-svg/mapsvg.functions.js"></script>