<section class="program-video padding-top-15 padding-bottom-10">
    <div class="grid-container">
        <div class="grid-col-12 radius-lg offset-background">
        </div>
        <div class="grid-row grid-gap">
            <div class="grid-col-10 grid-offset-1 display-flex flex-align-stretch">
              <div class="program-video__img">
                <div class="program-video__img-container vha-video text-center">
                  <h2 class="margin-0 padding-top-7 padding-bottom-4">VHA Innovators Network</h2>
                    <img src="assets/img/home/inet-overview.webp" class="img-fluid radius-lg" alt="Innovators Network Director, Allison Amrhein, presenting in front of crowd" />
                    <a href="https://www.youtube.com/watch?v=Z-EI_8ZCeU8" aria-label="VHA Innovators Network overview video" class="vha-video__play vha-video__play-action stretched-link">
                        <svg viewBox="0 0 46 46" fill="none" class="vha-video__play-icon">
                            <path d="M23 0C10.2975 0 0 10.2971 0 23C0 35.7029 10.2975 46 23 46C35.7025 46 46 35.7029 46 23C46 10.2971 35.7025 0 23 0ZM19.534 14.0944C20.2076 13.7011 21.1 13.6666 21.9096 14.2094L30.3324 19.8927C32.7858 21.6913 32.859 24.242 30.3324 26.0935L21.9096 31.7768C20.2904 32.8624 18.4001 31.7515 18.4001 29.7091V16.2748C18.4001 15.2559 18.8601 14.4877 19.534 14.0944Z" fill="white"/>
                        </svg>
                    </a>
                </div>               
            </div>
          </div>
        </div>
    </div>
</section>