<section id="innovators-playbook" class="innovators-playbook mobile:padding-bottom-8 tablet:padding-bottom-10 desktop-lg:padding-bottom-15">
    <div class="grid-container">
        <div class="innovators-playbook__container padding-3 desktop:padding-5 radius-lg">
            <div class="grid-row grid-gap flex-align-center">
                <div class="col-12 tablet-lg:grid-offset-2 tablet-lg:grid-col-5 innovators-playbook__content">
                    <h4>Igniting Employee Innovation</h4>
                    <h2>iNET Releases the Innovation Program Playbook</h2>
                    <p>Have you been told "no" one too many times? Perhaps you have hit a few roadblocks or noticed outdated practices in your workplace, leading you to frequently and exasperatedly exclaim "why?!". You are also a brave leader desperate to change the culture of your organization. The Playbook provides structure for your future innovation program. The catalyst for the change? Innovation. Embracing front-line power and passion to make a grassroots change./p>
                </div>
                <div class="col-12 tablet-lg:grid-col-3 innovators-playbook__image">
                    <a href="assets/documents/OHIL_State_of_Innovation_Report_2024.pdf"><img src="assets-3-5/img/home/soi-2024-book.webp" alt="Image of SOI booklet" class="image-fluid" data-parallax='{"y": 30 }' /></a>
                </div>
            </div>
            <div class="innovators-playbook__background"></div>
        </div>
    </div>
</section>