<section id="senior-innovation-fellowship" class="overlay-content">
    <div class="grid-container">
        <div class="grid-row grid-gap position-relative">
            <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-2">
                <div class="overlay-content__wrapper padding-x-4 tablet:padding-x-0 padding-y-4 tablet-lg:padding-y-5 desktop-lg:padding-y-5 widescreen:padding-y-10 radius-lg vha-bg-violet-lightest">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 tablet:grid-col-6 tablet:grid-offset-5">
                            <h2 class="margin-bottom-1">Innovator Spotlight</h2>
                            <h3 class="h2 tablet:margin-top-0">Using Innovation to Better Serve Veterans and Their Families</h3>
                            <p>iNET recognized the accomplishments of three individuals who have excelled in work that is foundational to iNET. The organization's leadership gave the awards during the annual VA Innovation Experience event in October. Join us in celebrating the following individuals for their inspiring work and dedication.</p>                                    
                            <a href="https://news.va.gov/126123/va-awards-for-veteran-care-innovators-network/" class="usa-button vha-button--primary" aria-label="Read more about our Innovator Spotlight">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-5 overlay-content__image-column">
                <div class="overlay-content__image padding-x-4 padding-bottom-4 tablet:padding-0 vha-bg-violet-lightest">
                    <a href="https://news.va.gov/126123/va-awards-for-veteran-care-innovators-network/" aria-label="Read more about our Innovator Spotlight"><img src="assets/img/home/innovator-spotlight.webp" class="radius-lg" alt="Spotlighted innovators with iNet Director, Allison Amrhein, at iEX 2024" /></a>
                </div>
            </div>
        </div>
    </div>
</section>