<section id="masthead-home" class="masthead-home position-relative margin-bottom-10">
    <div class="masthead-home__content-wrapper z-top">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1 text-center">
                    <div class="masthead-home__logo">
                        <img src="assets/img/logo.svg" alt="VHA Innovators Network logo in white on a green background" />
                    </div>
                    <h1 class="masthead-home__tagline p text-white">
                        Empowering Frontline VHA Employees
                    </h1>
                    <div class="masthead-home__image">
                        <img src="assets/img/home/masthead-image.webp" class="radius-lg shadow-4" alt="People collaborating on a project at a table" />
                    </div>
                    <div class="masthead-home__logo-stroke logo-stroke-1" data-parallax='{"x": -50 }'>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 567 572" fill="none">
                            <path d="M562.223 278.47L562.225 278.481C564.183 288.849 565.226 299.144 565.226 309.236C565.194 350.686 543.357 391.349 508.55 427.833C473.754 464.307 426.082 496.51 374.607 521.022C323.134 545.532 267.909 562.326 218.036 568.019C168.129 573.715 123.742 568.279 93.7949 548.524L93.2443 549.359L93.7946 548.524C63.8261 528.77 40.2439 491.216 24.3456 444.518C8.45609 397.845 0.287312 342.166 1.04879 286.339C1.81029 230.511 11.5017 174.587 31.2891 127.411C51.0773 80.2339 80.9306 41.8749 121.979 21.0377L121.526 20.146L121.979 21.0377C193.854 -15.4504 287.666 3.12461 370.618 49.771C453.548 96.405 525.299 170.925 553.018 245.8L553.039 245.857L553.066 245.911C556.604 252.787 559.274 261.843 562.223 278.47Z" stroke="#018A86" stroke-width="2"/>
                        </svg>                                                     
                    </div>
                    <div class="masthead-home__logo-stroke logo-stroke-2" data-parallax='{"x": 50 }'>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 567 571" fill="none">
                            <path d="M562.717 277.693L562.719 277.704C564.677 288.072 565.72 298.367 565.72 308.46C565.688 349.909 543.851 390.572 509.045 427.056C474.248 463.53 426.576 495.734 375.101 520.245C323.628 544.755 268.403 561.549 218.53 567.242C168.623 572.938 124.236 567.502 94.289 547.747L93.7384 548.582L94.2887 547.747C64.3201 527.994 40.7379 490.439 24.8397 443.741C8.95017 397.068 0.781394 341.389 1.54287 285.562C2.30437 229.734 11.9958 173.81 31.7832 126.635C51.5714 79.4571 81.4247 41.0981 122.473 20.2608L122.02 19.3691L122.473 20.2608C194.348 -16.2272 288.16 2.34775 371.112 48.9941C454.042 95.6282 525.793 170.148 553.512 245.023L553.533 245.08L553.56 245.134C557.098 252.01 559.769 261.066 562.717 277.693Z" stroke="#B0CD56" stroke-width="2"/>
                        </svg>                           
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="masthead-home__angles-wrapper">
        <div class="masthead__angles">
            <div class="angle-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 956 724" width="956" height="724" fill="none" preserveAspectRatio="xMidYMax meet"><path fill="url(#a)" d="M194.754 724H0L687.966 0H956L268.029 724h-73.275Z" style="mix-blend-mode:multiply"/><defs><linearGradient id="a" x1="1288.42" x2="311.378" y1="-1365.87" y2="498.945" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"/><stop offset=".04" stop-color="#CCC"/><stop offset=".42" stop-color="#E8E8E8"/><stop offset=".75" stop-color="#F9F9F9"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
            </div>
            <div class="angle-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1457 724" width="1457" height="725" fill="none" preserveAspectRatio="xMidYMax meet"><path fill="url(#a)" d="M477.301 725.001H0l684.13-725L873.301 0h582.969L767.301 725.002h-290Z" style="mix-blend-mode:multiply"/><defs><linearGradient id="a" x1="-669.887" x2="-2061.82" y1="-3602.61" y2="192.189" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"/><stop offset=".04" stop-color="#CCC"/><stop offset=".42" stop-color="#E8E8E8"/><stop offset=".75" stop-color="#F9F9F9"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
            </div>
            <div class="angle-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1446 724" width="1446" height="723" fill="none" preserveAspectRatio="xMidYMax meet"><path fill="url(#a)" d="M625.945 722.5H0L681.77 0h763.61L763.609 722.5H625.945Z" style="mix-blend-mode:multiply"/><defs><linearGradient id="a" x1="254.9" x2="-1216.89" y1="-3529.43" y2="540.104" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"/><stop offset=".04" stop-color="#CCC"/><stop offset=".42" stop-color="#E8E8E8"/><stop offset=".75" stop-color="#F9F9F9"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
            </div>                
        </div>
    </div>
    <div class="masthead-home__border">
        <div class="block block-color-1"></div>
        <div class="block block-color-2"></div>
    </div>
    <div class="masthead-home__svg-bg z-0">
        <svg viewBox="0 0 1014 821" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.4">
            <g filter="url(#filter0_f_253_286)">
            <rect x="824" y="397.402" width="292.492" height="292.492" transform="rotate(135 824 397.402)" fill="#018A86"/>
            </g>
            <g filter="url(#filter1_f_253_286)">
            <rect x="604.537" y="423.83" width="292.492" height="292.492" transform="rotate(135 604.537 423.83)" fill="#B0CD56"/>
            </g>
            </g>
            <defs>
            <filter id="filter0_f_253_286" x="220.354" y="0.579102" width="793.646" height="793.646" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="95" result="effect1_foregroundBlur_253_286"/>
            </filter>
            <filter id="filter1_f_253_286" x="0.890869" y="27.0068" width="793.646" height="793.646" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="95" result="effect1_foregroundBlur_253_286"/>
            </filter>
            </defs>
        </svg>
    </div> 
</section>