<section id="inet-news" class="inet-news padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-12 text-center">
                <h2 class="margin-top-0">News and Events</h2>
                <a href="#" class="usa-button usa-button--outline usa-button--outline-inverse usa-button-2" title="View More News Articles">View More News Articles</a>
                <div class="owl-carousel nci2i--news margin-top-5"></div>
            </div>
        </div>
    </div>
</section>