<section id="our-mission" class="our-mission padding-top-15">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-8 tablet-lg:grid-offset-2 text-center">
                <h2 class="margin-top-0">Our Mission</h2>
                <p>VHA Innovators Network (iNET) is a bustling community of employees united by a desire to solve healthcare problems and engage in shared learning. Our specialists facilitate local programming, lead local and national events, and connect employees with the resources they need to design, develop, and test their own solutions.</p>
                <p>And now, iNET has created an <a href="assets/documents/IS-Playbook-2024.pdf" title="View the Innovation Program Playbook">Innovation Program Playbook</a> to help external healthcare systems, federal agencies, and others develop their own employee-centric innovation programs.</p>
            </div>
        </div>
    </div>
</section>
    