<section id="senior-innovation-fellowship" class="overlay-content">
    <div class="grid-container">
        <div class="grid-row grid-gap position-relative">
            <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-2">
                <div class="overlay-content__wrapper padding-x-4 tablet:padding-x-0 padding-y-4 tablet-lg:padding-y-10 desktop-lg:padding-y-15 radius-lg vha-bg-violet-lightest">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 tablet:grid-col-6 tablet:grid-offset-5">
                            <h4>VAIPM</h4>
                            <h2 class="tablet:margin-top-0">VA Intrapreneurial Product Marketplace</h2>
                            <p>The VA Intrapreneurial Product Marketplace (VAIPM) is a new platform to put employee-developed, purchase-ready innovative products straight into the hands of Veterans. The marketplace is the next step in connecting these new innovations directly with the people they were designed with and for.</p>                                    
                            <a href="senior-innovation-fellowship/" class="usa-button vha-button--primary" aria-label="Learn More">View VA News Article</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-5 overlay-content__image-column">
                <div class="overlay-content__image padding-x-4 padding-bottom-4 tablet:padding-0 vha-bg-violet-lightest">
                    <a href="senior-innovation-fellowship/"><img src="assets/img/home/slw.png" class="radius-lg" alt="Man using the Self-Leveling Walker" /></a>
                </div>
            </div>
        </div>
    </div>
</section>