<section id="product-marketplace" class="overlay-content padding-top-15">
    <div class="grid-container">
        <div class="grid-row grid-gap position-relative">
            <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-2">
                <div class="overlay-content__wrapper padding-x-4 tablet:padding-x-0 padding-y-4 tablet-lg:padding-y-10 desktop-lg:padding-y-10 widescreen:padding-y-15 radius-lg">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 tablet:grid-col-6 tablet:grid-offset-5">
                            <h2 class="margin-top-0 margin-bottom-1">VAIPM</h2>
                            <h3 class="h2 margin-y-0">VA Intrapreneurial Product Marketplace</h3>
                            <p class="margin-y-0 padding-y-3">The VA Intrapreneurial Product Marketplace (VAIPM) is a new platform to put employee-developed, purchase-ready innovative products straight into the hands of Veterans. The marketplace is the next step in connecting these new innovations directly with the people they were designed with and for.</p>                                    
                            <a href="https://news.va.gov/125887/putting-innovative-products-hands-of-veterans/" class="usa-button vha-button--primary" aria-label="View VAIPM News Article">View VA News Article</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-5 overlay-content__image-column">
                <div class="overlay-content__image padding-x-4 padding-bottom-4 tablet:padding-0">
                    <a href="https://news.va.gov/125887/putting-innovative-products-hands-of-veterans/" aria-label="View VAIPM News Article"><img src="assets/img/home/slw.webp" class="radius-lg" alt="Man using the Self-Leveling Walker" /></a>
                </div>
            </div>
        </div>
    </div>
</section>