<section class="sss-greenhouse-fundamentals mobile:padding-top-8 tablet:padding-top-10 desktop-lg:padding-top-15">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-4 display-flex flex-align-stretch">
                <div class="usa-card vha-card tablet-lg:grid-col-12">
                    <div class="usa-card__container padding-5 text-center">
                      <div class="usa-card__header">
                        <img src="assets/img/home/sss-icon.svg" alt="Spark Seed Spread icon" />
                        <h3 class="usa-card__heading padding-top-3">Spark Seed Spread</h3>
                      </div>
                      <div class="usa-card__body">
                        <p>Investing in VHA Employees as they design new innovative solutions.</p>
                      </div>
                      <div class="usa-card__footer">
                        <a href="spark-seed-spread/" class="usa-button vha-button--primary" aria-label="Learn more about Spark Seed Spread">Learn More</a>
                      </div>
                    </div>
                </div>                
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-4 display-flex flex-align-stretch">
                <div class="usa-card vha-card tablet-lg:grid-col-12">
                    <div class="usa-card__container padding-5 text-center">
                      <div class="usa-card__header">
                        <img src="assets/img/home/greenhouse-icon.svg" alt="Greenhouse Initiative icon" />
                        <h3 class="usa-card__heading padding-top-3">Greenhouse Initiative</h3>
                      </div>
                      <div class="usa-card__body">
                        <p>Offering external innovators an opportunity to collaborate.</p>
                      </div>
                      <div class="usa-card__footer">
                        <a href="#" class="usa-button vha-button--primary" aria-label="Learn more about the Greenhouse Initiative">Learn More</a>
                      </div>
                    </div>
                </div>                
            </div>
            <div class="grid-col-12 tablet-lg:grid-col-4 display-flex flex-align-stretch">
                <div class="usa-card vha-card tablet-lg:grid-col-12">
                    <div class="usa-card__container padding-5 text-center">
                      <div class="usa-card__header">
                        <img src="assets/img/home/fundamentals-icon.svg" alt="Employee Innovator Fundamentals icon" />
                        <h3 class="usa-card__heading padding-top-3">Employee Innovator Fundamentals</h3>
                      </div>
                      <div class="usa-card__body">
                        <p>Teaching innovation fundamentals and concepts.</p>
                      </div>
                      <div class="usa-card__footer">
                        <a href="#" class="usa-button vha-button--primary" aria-label="Learn more about Employee Innovator Fundamentals">Learn More</a>
                      </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>