<section>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="grid-col-12">

        <section id="secondary-row2" class="secondary-row two padding-top-15 padding-bottom-15">
          <div class="secondary-row__content-wrapper">
            <div class="grid-container">
              <div class="position-absolute row-custom-background"></div>
              <div class="position-absolute row2-lines-left">
                <img src="../../assets/img/sss/thin-lines.svg" alt="2 lines background image (blue and purple)" />
              </div>
              <div class="grid-row grid-gap">
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2A">
                  <img src="../../assets/img/sss/goal.png" alt="A group of women and men collaborating and innovating within the VHA Innovation Ecosystem" />
                </div>
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2B">
                  <div class="grid-col-12 mobile-lg:padding-x-3 mobile:padding-x-1">
                    <h2 class="margin-bottom-1">Spark-Seed-Spread</h2>
                    <h3 class="margin-y-0">Our Goal</h3>
                    <p>The Spark-Seed-Spread Innovation Investment Program seeks to identify and accelerate employee-inspired innovations that improve health experiences for Veterans, families, caregivers, and employees. This program invests in both employees themselves and their innovative solutions through iNET’s Accelerator Program, which is the immersive learning and professional development component that comes along with the Spark-Seed-Spread investment.</p>
                  </div>
                </div>
              </div>
            </div>  
          </div>    
        </section>

        <section class="grid-container usa-section text-center margin-bottom-8 display-block radius-md" style="background: #00524F;">
          <div class="grid-row">
            <!-- Spark Card -->
            <div class="grid-col-4 usa-card">
              <div class="usa-card__container" style="background: transparent; border-color: transparent;">
                <div class="usa-card__header">
                  <h3 class="usa-card__heading">Spark</h3>
                </div>
                <div class="usa-card__body">
                  <p>Encourages creativity and inspires permission-less innovation on a very small scale</p>
                </div>
              </div>
            </div>
            <!-- Seed Card -->
            <div class="grid-col-4 usa-card">
              <div class="usa-card__container" style="background: transparent; border-color: transparent;">
                <div class="usa-card__header">
                  <h3 class="usa-card__heading">Seed</h3>
                </div>
                <div class="usa-card__body">
                  <p>Testing a prototype for user experience feedback</p>
                </div>
              </div>
            </div>
            <!-- Spread Card -->
            <div class="grid-col-4 usa-card">
              <div class="usa-card__container" style="background: transparent; border-color: transparent;">
                <div class="usa-card__header">
                  <h3 class="usa-card__heading">Spread</h3>
                </div>
                <div class="usa-card__body">
                  <p>Continuing iterative user testing at multiple VA facilities to finalize a prototype</p>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</section>
