<section>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="grid-col-12">

        <section id="secondary-row2" class="secondary-row two padding-bottom-15">
          <div class="secondary-row__content-wrapper">
            <div class="grid-container">
              <div class="position-absolute row-custom-background"></div>
              <div class="position-absolute row2-lines-left">
                <img src="../../assets/img/sss/thin-lines.svg" alt="2 lines background image (blue and purple)" />
              </div>
              <div class="grid-row grid-gap">
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2A">
                  <img src="../../assets/img/sss/goal.png" alt="A group of women and men collaborating and innovating within the VHA Innovation Ecosystem" />
                </div>
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2B">
                  <div class="grid-col-12 mobile-lg:padding-x-3 mobile:padding-x-1">
                    <h2 class="margin-bottom-1">Spark-Seed-Spread</h2>
                    <h3 class="margin-y-0">Our Goal</h3>
                    <p>The Spark-Seed-Spread Innovation Investment Program seeks to identify and accelerate employee-inspired innovations that improve health experiences for Veterans, families, caregivers, and employees. This program invests in both employees themselves and their innovative solutions through iNET’s Accelerator Program, which is the immersive learning and professional development component that comes along with the Spark-Seed-Spread investment.</p>
                  </div>
                </div>
              </div>
            </div>  
          </div>    
        </section>


        <section class="sss-bk" style=" padding-top: 50px; padding-bottom:25px"> 
        <div class=" grid-col-10 offset-1 grid-container usa-section text-center margin-bottom-8 display-block radius-lg sss-graphic" style="background: #00524F;">
          <div class="grid-row grid-gap">
            <!-- Spark Card -->
            <div class="tablet-lg:grid-col-4 mobile-lg:grid-col-12 usa-card margin-top-8">
              <div class="usa-card__container" style="background: transparent; border-color: transparent;">
              
                  <h3 class="">Spark</h3>
            
                <div class="usa-card__body text-white">
                  <p>Encourages creativity and inspires permission-less innovation on a very small scale</p>
                  <img src="../../assets/img/sss/spark.webp" alt="Spark Image">
                </div>
              </div>
            </div>
            <!-- Seed Card -->
            <div class="tablet-lg:grid-col-4 mobile-lg:grid-col-12 usa-card margin-top-10">
              <div class="usa-card__container" style="background: transparent; border-color: transparent;">
                <!-- Image remains above text on full screen -->
                <div class="order-1 desktop:order-1 mobile-lg:order-2">
                  <img src="../../assets/img/sss/seed.webp" alt="Seed Image">
                </div>
                <!-- Text moves above image on mobile -->
                <div class="usa-card__header text-white desktop:order-2 mobile-lg:order-1">
                  <h3 class="">Seed</h3>
                  <p>Testing a prototype for user experience feedback</p>
                </div>
              </div>
            </div>
            <!-- Spread Card -->
            <div class="tablet-lg:grid-col-4 mobile-lg:grid-col-12 usa-card margin-top-8">
              <div class="usa-card__container" style="background: transparent; border-color: transparent;">
              
                  <h3 class="">Spread</h3>
            
                <div class=" text-white">
                  <p>Continuing iterative user testing at multiple VA facilities to finalize a prototype</p>
                  <img src="../../assets/img/sss/spread.webp" alt="Spread Image">
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>


