<section>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="grid-col-12">

        <!-- Section 1: Investing in Employees and Innovations -->
        <section class="secondary-row two padding-top-8 padding-bottom-8 margin-top-8 position-relative">
          <div class="grid-container">
            <!-- Background Rectangle -->
            <div class="grid-col-12 desktop:grid-col-10 bg-primary-lightest position-absolute rectl" ></div>

            <!-- Content Layer -->
            <div class="grid-row grid-gap position-relative">
              <!-- Text Section -->
              <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center desktop:order-1 mobile-lg:order-2 mobile:order-2">
                <div class="grid-col-12 mobile-lg:padding-x-3 mobile:padding-x-1">
                  <h2 class="margin-bottom-1">Investing in Employees and Innovations</h2>
                  <h3 class="margin-y-0">See a Full List of FY2024 Investees</h3>
                  <p>FY24 investees are “Driving Innovation Forward” with a large field of new ideas and innovations from across VA. You can see a full list of the Spark, Seed, and Spread Investees and their projects here.</p>
                  <a href="https://www.innovation.va.gov/ecosystem/assets/documents/investee-List-FY2024.pdf">
                    <button type="button" class="usa-button position-relative">View FY 2024 Investees</button>
                  </a>
                </div>
              </div>

              <!-- Image Section -->
              <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center desktop:order-2 mobile-lg:order-1 mobile:order-1">
                <a href="https://www.innovation.va.gov/ecosystem/assets/documents/investee-List-FY2024.pdf">
                <img class="img-sss" src="../assets/img/sss/employees.webp" alt="A man sitting a table with a group of people" />
              </a>
              </div>
            </div>
          </div>
        </section>

        <!-- Section 2: Investee Spotlight - Male Contraceptive Initiative -->
        <section class="secondary-row two margin-bottom-15 padding-top-15 position-relative">
          <div class="secondary-row__content-wrapper">
            <div class="grid-container position-relative">
              <!-- Background Rectangle -->
              <div class="grid-col-12 desktop:grid-col-10 bg-primary-lightest position-absolute rect"></div>

              <!-- Content Layer -->
              <div class="grid-row grid-gap position-relative padding-top-8 padding-bottom-8">
                <!-- Image Section -->
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2A">
                  <a href="https://news.va.gov/116624/expanding-contraception-access-male-veterans/">
                    <img class="img-sss" src="../assets/img/sss/investee.webp" alt="Man smiling in labcoat" />
                  </a>
                </div>

                <!-- Text Section -->
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2B">
                  <div class="grid-col-12">
                    <h2 class="margin-bottom-1">Investee Spotlight</h2>
                    <h3 class="margin-y-0">Male Contraceptive Initiative</h3>
                    <p>Dr. John DeCaro, a urologist from Augusta, identified a gap in knowledge and discussion around male contraception. Now a Spark-Seed-Seed investee, John is expanding awareness to male Veterans through a three-pronged approach known as the “Male Contraceptive Initiative.”</p>
                    <a href="https://news.va.gov/116624/expanding-contraception-access-male-veterans/">
                      <button type="button" class="usa-button position-relative bg-secondary-vivid">Learn more about Dr. DeCaro</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section 3: Innovation Spotlight - Prosthetic Sock Management Tool -->
        <section class="secondary-row two padding-top-8 padding-bottom-8 margin-top-15 position-relative">
          <div class="grid-container">
            <!-- Background Rectangle -->
            <div class="grid-col-12 desktop:grid-col-10 bg-primary-lightest position-absolute rectl" ></div>

            <div class="position-absolute row2-lines-right z-bottom">
              <img src="../assets/img/sss/thin-lines.svg" alt="2 lines background image" />
            </div>

            <!-- Content Layer -->
            <div class="grid-row grid-gap position-relative">
              <!-- Text Section -->
              <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center desktop:order-1 mobile-lg:order-2 mobile:order-2">
                <div class="grid-col-12 mobile-lg:padding-x-3 mobile:padding-x-1">
                  <h2 class="margin-bottom-1">Innovation Spotlight</h2>
                  <h3 class="margin-y-0">The Prosthetic Sock Management Tool (PSMT)</h3>
                  <p>The PSMT can enhance a Veteran's prosthetic experience. Now available on the VA Intraprenuerial Product Marketplace, this two-part organizational system aids in understanding and health management for prosthetic sock use.</p>
                  <a href="https://news.va.gov/105705/innovation-revolutionary-a-solution-to-prosthetic-socks-management/">
                    <button type="button" class="usa-button">Learn More</button>
                  </a>
                </div>
              </div>

              <!-- Image Section -->
              <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center desktop:order-2 mobile-lg:order-1 mobile:order-1">
                <a href="https://news.va.gov/105705/innovation-revolutionary-a-solution-to-prosthetic-socks-management/">
                <img class="img-sss" src="../assets/img/sss/innovation.webp" alt="Doctor treating a patient" />
              </a>
              </div>
            </div>
          </div>
        </section>

        <!-- Section 4: Alumni Spotlight - Minh Ho -->
        <section class="secondary-row two margin-bottom-15 padding-top-15 position-relative">
          <div class="secondary-row__content-wrapper">
            <div class="grid-container position-relative">
              <!-- Background Rectangle -->
              <div class="grid-col-12 desktop:grid-col-10 bg-primary-lightest position-absolute rect"></div>
        
              <!-- Content Layer -->
              <div class="grid-row grid-gap position-relative padding-top-8 padding-bottom-8" >
                <!-- Image Section -->
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2A">
                  <a href="https://news.va.gov/98405/veterans-turn-a-corner-with-new-va-syringe-services-program/">
                    <img class="img-sss" src="../assets/img/sss/alumni.webp" alt="Photo of the Alumni Spotlight" />
                  </a>
                </div>
        
                <!-- Text Section -->
                <div class="grid-col-12 desktop:grid-col-6 flex-align-self-center row2B">
                  <div class="grid-col-12">
                    <h2 class="margin-bottom-1">Alumni Spotlight</h2>
                    <h3 class="margin-y-0">Minh Ho</h3>
                    <p>Minh Ho, Acting Chief of Infectious Disease, Clinical Hospital Epidemiologist, and Staff Physician at Orlando VA Medical Center, and his team of pharmacists, social workers, and nurses are introducing new ways of thinking across VHA. Through harm reduction measures, Minh is striving to provide Veterans with safe and reliable access to life-saving tools, such as clean syringes, fentanyl test strips, and wound care products.</p>
                    <a href="https://news.va.gov/98405/veterans-turn-a-corner-with-new-va-syringe-services-program/">
                      <button type="button" class="usa-button position-relative">Read more about Minh Ho</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</section>